source: ""
overwrite: false

ent:
  production: true
  path: ""

proto:
  production: true
  path: ""

data:
  production: true
  path: ""
  test: true

biz:
  production: true
  path: ""
  test: true